@import "tailwindcss";

.btn {
    @apply px-4 py-2 bg-indigo-300 text-white font-semibold rounded transition;
  }
  
  .btn:hover {
    @apply bg-indigo-600;
  }
  
  .btn:disabled {
    @apply bg-gray-400 cursor-not-allowed;
  }
:root {
  --bg-color: bg-red-950;
}
@theme static {
  --color-primary: var(bg-red-950);
  --color-secondary: var(bg-slate-700);
}